<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-10">
          <div *ngIf="hasArchives">
              Your arhives will appear here.
          </div>
          <br>
          <br>
          <br>
            <h1 *ngIf="!this.hasArchives" style="text-align:end">
              Looks like you don't have any archives.
              <br/>
              Add one to get started.
            </h1>
        </div>



        <div class="col-md-2" style="text-align:end">
                <i (click)='add()' class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
              <br>
              <br>
              <i  *ngIf="!this.hasArchives" class="fa fa-reply fa-rotate-90 fa-5x" aria-hidden="true"></i>
        </div>
    </div>


      <div id="light" class="white_content">
          <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
              <div class="form-group">
                <label>Choose from file</label>
                <br/>
                <input id="file" type="file" name="file"/>
              </div>
              <div class="form-group" style="justify-content: flex-end;display: flex;">
                <button class="btn btn-primary">Submit</button>  
                <span style="width:10pt"></span>
                <a class="btn btn-primary" (click)="closePopup()">Close</a>              
              </div>
              
            </form>
      </div>
      

      <div id="fade" class="gray_overlay"></div>
</div>


