<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/dashboard/archives" class="page-header">
                <span class="fa fa-slack fa-2x" aria-hidden="true" style="margin-right:5%"></span>
                SNA4Slack
            </a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['/dashboard/archives']" id="sidebar-archives">
                    <span class="fa fa-file-archive-o fa-2x" aria-hidden="true"></span>
                    <div>Archives</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/analyse']" id="sidebar-analyse">
                    <span class="fa fa-line-chart fa-2x" aria-hidden="true"></span>
                    <div>Analyse</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/results']" id="sidebar-results">
                    <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
                    <div>Results</div>
                </a>
            </li>

            <li>
                <a [routerLink]="['/dashboard/share']" id="sidebar-share">
                    <span class="fa fa-share-alt fa-2x" aria-hidden="true"></span>
                    <div>Share</div>
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
