/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(77, 57, 75);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(77, 57, 75);
    text-align: center;
    font-size: 30px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(38, 28, 37);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}
.myHover {
    color: rgb(77, 57, 75);
    background: #fff;
}
#sidebar ul li a:hover {
    color: rgb(77, 57, 75);
    background: #fff;
}



#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(77, 57, 75);
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(77, 57, 75);
}

ul.CTAs {
    padding: 15px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: rgb(77, 57, 75);
}
a.article, a.article:hover {
    background: rgb(77, 57, 75) !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px){
    #sidebar {
        width: 80px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: calc(100% - 80px);;
    }
    #content.active {
        width: calc(100% - 200px);
    }
    #sidebarCollapse span {
        display: none;
    }

    #sidebar .sidebar-header {
        padding: 10px;
        font-size: 12px;
    } 
    #sidebar ul li a {
        padding: 10px;
        font-size: 12px;
    }

    ul.CTAs {
        padding: 5px;
    }
    
    ul.CTAs a {
        font-size: 9px;
    }
}
