#my_network {
  width: 90%;
  height: 600px;
  border: 1px solid lightgray;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.padding-with-border {
  height: 10%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border-bottom: 1px dotted rgb(77, 57, 75);
}

.metric-element {
  display: flex; 
  align-items: center;
  background: rgba(192, 192, 192, 0.5);
  height: inherit;
  margin-bottom: 10px;
  margin: 0 auto;
  float: none;
  border: 6px solid white;
}

.metric-image {
  width: 100%;
  display: flex; 
  align-items: center;
}

.metric-span {
  text-align:center; 
  margin:10%;
}

h4 {
  margin:3%;
}

.my-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.my-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 5%;
  max-width: 90%;
}

.row-center {
  text-align:center;
}