<div class="background">
  <div class="center">

    <h2>Register</h2>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text" class="form-control" name="firstName" placeholder="First name" [(ngModel)]="model.firstName"
               #firstName="ngModel" required/>
        <div *ngIf="f.submitted && !firstName.valid" class="help-block error-message">First Name is required</div>
        <div *ngFor="let error of firstNameErrorList" class="help-block error-message">{{error}}</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text" class="form-control" name="lastName" placeholder="Last name" [(ngModel)]="model.lastName"
               #lastName="ngModel" required/>
        <div *ngIf="f.submitted && !lastName.valid" class="help-block error-message">Last Name is required</div>
        <div *ngFor="let error of lastNameErrorList" class="help-block error-message">{{error}}</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="model.username"
               #username="ngModel" required/>
        <div *ngIf="f.submitted && !username.valid" class="help-block error-message">Username is required</div>
        <div *ngFor="let error of usernameErrorList" class="help-block error-message">{{error}}</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="model.password"
               #password="ngModel" required/>
        <div *ngIf="f.submitted && !password.valid" class="help-block error-message">Password is required</div>
        <div *ngFor="let error of passwordErrorList" class="help-block error-message">{{error}}</div>
      </div>

      <div class="form-group" style="text-align:center">
        <button class="btn btn-primary">Register</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
