.background{
  background-image: url(/assets/img/slack_background.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size:     cover;
  padding-top: 8%;
  padding-bottom: 12%;
  padding-left: 10%;
  padding-right: 15%;
}


.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  border-radius: 25px;
  background-color: rgba(192,192,192,0.8);
  padding: 20pt;
  width: 30%;
  min-width: 300px;
}
