/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.footer {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: rgba(192,192,192,0.8);
}
