<div class="row mainView">
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-9">
    <div class="about">
      <h1> SNA4Slack </h1>
      <p>
        SNA4Slack allows users to analyze and visualize social networks built upon Slack
        conversations. Just as an example, this app might derive a network graph
        whose nodes are the users and directed edges are the mentions.
        Graphs will be explored through visualization and analyzed to gain a
        greater understanding of the network.
      </p>
    </div>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-4 col-lg-3">
    <div class="login-form">
      <h2>Login</h2>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <input id="username" type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="model.username" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block error-message">Username is required</div>
          <div *ngFor="let error of usernameErrorList" class="help-block error-message">{{error}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <input id="password" type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block error-message">Password is required</div>
          <div *ngFor="let error of passwordErrorList" class="help-block error-message">{{error}}</div>
        </div>
        <div class="form-group" style="text-align:center">
          <button class="btn btn-primary login-button">Login</button>
          <br>
          <span>Don't have an account? <a [routerLink]="['/register']">Register</a></span>
        </div>
      </form>
    </div>
  </div>

</div>


<div >
  <div class="feature row">
    <div class="col-md-5 col-lg-3" style="display: flex; align-items: center;">
      <img class="feature_img" src="/assets/img/mention_based_graph.png">
    </div>
    <div class="col-md-7 col-lg-9" style="display: flex; align-items: center;">
      <span style="width:inherit;">
          <h1>Mention based graphs</h1>
          <br />
          <p>
              Among the other things, this application allows you to create mention based graphs for your conversations for selected channels. 
              In such a graph, nodes represent the people who appear in selected channels and if two nodes are connected, person A mentioned person B one or more items. <br>
              Since the graph is bidirected, an edge from a person A to a person B means that the person A mentioned person B, and the thickness of that edge represents how many times.
              Hovering over a node (person) shows how many times the person was mentioned, and hovering over the edge shows how many mentions that edge represents.
          </p>
      </span>
         
        
    </div>
  </div>

<hr>
  <div class="feature row">
    <div class="col-md-7 col-lg-9" style="display: flex; align-items: center;">
        <span style="width:inherit;">

      <h1>Subscription based graphs</h1>
      <br />
      <p>
          Subscription-based graph, as the mention based graph, can be created for specific channels. In the subscription-based graph, there are two types of nodes: person and channel. Those two types of nodes are connected only if a person is in, or is subscribed to a given channel. The thickness of the edge shows how many messages a certain person sent a message to the connected channel. Hovering over an edge shows exactly how many times that person posted a message in that channel. Since the graph is bipartite, it is planned to visually separate users on the one side, and the channels on the other.
      </p>
        </span>
    </div>
    <div class="col-md-5 col-lg-3" style="display: flex; align-items: center;">
      <img class="feature_img" src="/assets/img/subscription_based_graph.png">
    </div>
  </div>
</div>
