<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/dashboard/archives" class="page-header">
                <h3>SNA4Slack</h3>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard/archives">Archives</a>
            </li>
            <li>
                <a href="">Other</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>